<div class="nav-bg" [style]="childStyle">
    <nav class="container-lg navbar navbar-expand-md navbar-dark bg-dark" >
        <div class="container-lg">
            <span class="navbar-brand" id="logo"> <a routerLink="" >
                <img [src]="logo" class="img-fluid shadow-2-strong " [style]="data" alt="" />
                <!-- <img [src]="logored" *ngIf="shownnow" class="img-fluid shadow-2-strong " [style]="logos" alt="" /> -->
            </a></span>
            <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
                aria-label="Toggle navigation" [style]="btncolor" (click)="collapsed = !collapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="navbar-collapse" [class.collapse]="collapsed" [attr.aria-expanded]="!collapsed" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    
                </ul>
                <ul class="navbar-nav ms-auto" [style.active]="active" >
                    <li class="nav-item " [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" [style]="logred" routerLink="" (click)="collapsed = !collapsed">Homepage</a>
                    </li>
                    <li class="nav-item" [style]="logred" [routerLinkActive]="['active']">
                        <a class="nav-link" [style]="logred" [routerLink]="'../aboutus'" (click)="collapsed = !collapsed">About Us</a>
                    </li>
                    <li class="nav-item" [style]="logred" [routerLinkActive]="['active']" [ngStyle]="active" >
                        <a class="nav-link" [style]="logred"   [routerLink]="'../propertydetails'" (click)="collapsed = !collapsed">Property</a>
                    </li>
                  
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [style]="logred" [routerLink]="'../contactus'" (click)="collapsed = !collapsed" >Contact Us</a>
                    </li>
                   
                    <li  class="nav-item nav-right" *ngIf="addPropperty">
                        <button class="nav-link nav-btn-link mx-3 my-1 px-5" mat-raised-button color="primary" >Add Property</button>
                        
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
