<div *ngIf="propertyDetail">
    <div class="row p-0 pt-4">

        <div class="col-md-4 float-start ">
            <ul class="breadcrumb">
                <li class="backtosearch"><a  (click)="backtosearch()" class="cursor"
                        (click)="addItem(propertyDetail.listingPurposeID!)"><i class="fa fa-angle-left pe-2"
                            aria-hidden="true"></i>Back to Search</a></li>
            </ul>
        </div>
        <div class="col-md-8" *ngIf="propertyDetail">
            <ul class="breadcrumb " *ngIf="propertyMasterSubType ==15 else building">
                <li><a routerLink="">Mumtalikati</a></li>
                <li *ngIf="propertyDetail">
                    <a href="#"
                        routerLink="../propertydetails">{{getenum(propertyDetail.propertyMasterTypeID!)}}</a>
                </li>
                <li *ngIf="propertyDetail"><a href="#">{{propertyDetail.propertySubTypeName}}</a></li>
                
            </ul>
            <ng-template #building>
                <ul class="breadcrumb ">
                    <li><a routerLink="">Mumtalikati</a></li>
                    <li *ngIf="propertyDetail">
                        <a href="#"
                            routerLink="../propertydetails">{{getenum(propertyDetail.propertyMasterTypeID!)}}</a>
                    </li>
                    <li *ngIf="propertyDetail"><a (click)="backtosearch()" class="cursor">{{propertyDetail.propertySubTypeName}}</a></li>
                    <li *ngIf="propertyDetail">{{propertyDetail.propertyUnitDescription}}</li>
                </ul>
            </ng-template>
       
        </div>
    
    
    </div>
</div>
