
@import "../../variables.scss";
.primary {
    color: #9E2A2B;
}

.hfgh {
    // width: 524px;
    height: 254.59px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.martop {
    margin-top: 65px;
}

.vedio {
    width: 1512px;
    height: 622px;
    left: 0px;
    top: 2886px;
    background: rgba(0, 0, 0, 0.4);
}

#imagendsection {
    background-image: url('https://d2og5lryw1ajtt.cloudfront.net/img/aboutusendsectionimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.topSection {
    align-self: self-end;
    padding-bottom: 44px;
}

.content-padding {
    padding-top: 15px;
    color: white;
}

.sign-in {
    color: #FFFFFF;
}

#ndsectionimg {
    background-image: url('https://d2og5lryw1ajtt.cloudfront.net/img/aboutus2ndimg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-size: 100% 50%;
}

.card-message {
    text-align: center;
    margin: auto;
    top: 30%;
    width: 50%;
    max-width: 700px;
    border-radius: 0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    border: none;
}

.main {
    height: 439.55px;
    left: 186px;
    right: 186px;
    top: 160px;
}

.magcard {
    height: 679.55px;
    left: 0px;
    right: 684px;
    top: 0px;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.secondcard {
    height: 679.55px;
    left: 456px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}
#cardsize{
    background-size: 50% 100%;
    background-image: url('https://d2og5lryw1ajtt.cloudfront.net/img/about-building.png');
    height: 60vh;
    background-repeat: no-repeat;
    background-color: transparent !important;
  
}
.radius{
    border-radius: 0;
}
.imagefill{
    float: right;
    object-fit: scale-down !important;
    object-position: right top;

}
.vheight{
    height: 72vh;
    
}
#about-us {
    background-image: url("https://d2og5lryw1ajtt.cloudfront.net/img/aboutus.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  #heading-section {
    color: white;
  }
  .about-section {
    padding-block: 4rem;
    color: black;
    background-color: $white-color;
    font-size: 16px;
    text-align: left;
  }
  .about-heading {
    color: $primary-color;
    text-align: left;
    font-size: 16px;
  }
  .sign-up{
    font-weight: 500; font-size: 28px; text-align: left;
  }
  .platform{
    font-size: 14px; font-weight: 300; text-align: left
  }
  .about-sectionlast {
    padding-block: 4rem;
    color: black;
    font-size: 16px;
    text-align: left;
  }
  #about-uscard{
    background-image: url("https://d2og5lryw1ajtt.cloudfront.net/img/aboutus2ndimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 50%;
    background-size: none;
  }
  .card-messageabout {

    margin: auto;
    top: 30%;
  
    max-width: 700px;
    border-radius: 0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    border: none;
    // background-color: transparent;
  
  }