<div id="about-us">
    <app-top-bar></app-top-bar>
    <div class="container py-5">
        <div class="row gx-4">
            <div class="col-2 col-lg-2 col-xl-3"></div>
            <div id="heading-section" class="col-8 col-lg-8 col-xl-6 px-5 py-4">
                <div class="row">
                    <div>
                        <h1>About Us</h1>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2 col-lg-2 col-xl-3">
            </div>
        </div>
    </div>
</div>
<div class="white-bg">
    <div class="container px-4 ">
        <div class="row about-section gx-5">

            <div class="col">

                <p class="about-heading">
                    About US
                </p>
                <h3 class="sign-up">
                    Professional Architect and Property Agent.
                </h3>
                <p class="platform">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.

                </p>

            </div>
            <div class="d-none d-lg-block col-lg-1">

            </div>
            <div class="col d-none d-lg-block">
                <p> <img [src]="aboutSectionImg" class="img-fluid shadow-2-strong" alt="" /></p>
            </div>
        </div>
    </div>
</div>

<div class="white-bg">
    <div class="container px-4 ">
        <div class="row about-section gx-5">

            <div class="col">

                <p class="about-heading">
                    What We Do
                </p>
                <h1 class="sign-up">
                    Our Service for Your Solutions
                </h1>
                <p class="platform">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.

                </p>

            </div>
       
            <div class="col">
                <div class="col ">
                    <div class="card border-0 hfgh">
                        <div class="card-body mar">
                            <div class="text-center martop">
                                <h5>Property For Rent</h5>
                                <p>Vestibulum imperdiet morbi venenatis blandit egestas torquent id</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="white-bg">
    <div class="container px-4 ">
        <div class="row about-section gx-5">

            <div class="col">
                <div class="card border-0 hfgh">
                    <div class="card-body mar">
                        <div class="text-center martop">
                            <h5>Property For Sale</h5>
                            <p>Vestibulum imperdiet morbi venenatis blandit egestas torquent id</p>
                        </div>

                    </div>

                </div>

            </div>
 
            <div class="col ">
                <div class="card border-0 hfgh">
                    <div class="card-body mar">
                        <div class="text-center martop">
                            <h5>Service Listing</h5>
                            <p>Vestibulum imperdiet morbi venenatis blandit egestas torquent id</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="imagendsection">
    <div class="container px-4 ">
        <div class="row about-sectionlast gx-5">

            <div class="col ">
                <p class="about-heading primary">
                    Intro
                </p>

                <h3 class="sign-in ">
                    Let's Talk About Your Project.
                </h3>
                <p class="platform sign-in ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.

                </p>
                <button mat-flat-button color="primary" (click)="goTo('contactus')"
                    onclick="window.scrollTo(0,0)">Contact US</button>


            </div>
            <div class="d-none d-lg-block col-lg-1">

            </div>
            <div class="col d-none d-lg-block">

            </div>
        </div>
    </div>

</div>