<div id="image" class="container-fluid p-0">
    <div class=" overlay">
        <app-top-bar></app-top-bar>
        <div class="row gx-4 mt-5 ">
            <div class="col-2 col-lg-2 col-xl-3"></div>
            <div id="heading-section" class="col-8 col-lg-8 col-xl-6 px-5 py-4">
                <div class="row">
                    <div>
                        <h1 class="c-white">About Us</h1>
                        <p class="c-white heade text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2 col-lg-2 col-xl-3">
            </div>
        </div>
    </div>
</div>
<div class="white-bg mt-5">
    <div class="container px-4 ">
        <div class="row">
            <div class="col">
                <p class="about-heading primary">
                    About US
                </p>
                <h3 class="sign-up">
                    Professional Architect and Property Agent.
                </h3>
                <p class="platform">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                </p>
                <button mat-flat-button color="primary" (click)="goTo('aboutus')"
                    onclick="window.scrollTo(0,0)">Discover More</button>
            </div>
            <div class="col">
                <p> <img [src]="aboutSectionImg" class="img-fluid shadow-2-strong " alt="" /></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0 mt-4">
    <div id="ndsectionimg">
        <div class="container p-0">
            <div class="row">
                <div class="col d-none d-lg-block">
                    <div class="Card shadow border-0" >
                        <img class="card-img" [src]="aboutbuildingImg" height="351px" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 radius shadow">
                        <div class="card-body">
                            <h6 class="primary">OUR HISTORY</h6>
                            <h2 class="float-left">Beginning from Designer for Designer</h2>
                            <div class="mt-5">
                                <p>
                                    Leo sapien justo commodo efficitur porttitor. Nascetur dictum aliquet nulla sociosqu
                                    nostra bibendum nullam. Orci tincidunt suscipit tempor ad. Fermentum tellus eget arcu
                                    bibendum ullamcorper.
                                </p>
                                <p>Mollis sem parturient ridiculus. Lacus sed finibus nisl enim ornare dignissim.
                                    Suspendisse posuere volutpat ultricies eleifend primis massa diam. Class nascetur
                                    viverra porttitor consectetuer litora vitae sapien. Litora class aliquam natoque
                                    convallis sodales sollicitudin sagittis. Felis class etiam si nullam iaculis mi. Est
                                    aptent eget urna pharetra volutpat aliquet. Pede ante adipiscing phasellus sit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="white-bg mt-5">
    <div class="container px-4 ">
        <div class="row ">

            <div class="col">

                <p class="about-heading primary">
                    What We Do
                </p>
                <h3 class="sign-up">
                    Our Service for Your Solutions
                </h3>
                <p class="platform">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.

                </p>
            </div>

            <div class="col ">
                <div class="card border-0 hfgh">
                    <div class="card-body mar">
                        <div class="text-center martop">
                            <h5>Property For Rent</h5>
                            <p>Vestibulum imperdiet morbi venenatis blandit egestas torquent id</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="white-bg mt-5">
    <div class="container ">
        <div class="row">

            <div class="col">

                <div class="card border-0 hfgh">
                    <div class="card-body mar">
                        <div class="text-center martop">
                            <h5>Property For Sale</h5>
                            <p>Vestibulum imperdiet morbi venenatis blandit egestas torquent id</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0 hfgh">
                    <div class="card-body mar">
                        <div class="text-center martop">
                            <h5>Service Listing</h5>
                            <p>Vestibulum imperdiet morbi venenatis blandit egestas torquent id</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="imagendsection" class="container-fluid p-0 mt-5">
    <div class="container px-4 ">
        <div class="row about-section gx-5">

            <div class="col-lg-4 mt-4">
                <p class="about-heading primary">
                    Intro
                </p>

                <h3 class="sign-in ">
                    Let's Talk About Your Project.
                </h3>
                <p class="platform sign-in ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.

                </p>
                <button mat-flat-button color="primary" (click)="goTo('contactus')"
                    onclick="window.scrollTo(0,0)">Contact US</button>


            </div>
            <div class="d-none d-lg-block col-lg-1">

            </div>
            <div class="col-lg-7 d-none d-lg-block">

            </div>
        </div>
    </div>

</div>