<div id="about-us">
    <app-top-bar></app-top-bar>
    <div class="container py-5">
        <div class="row gx-4">
            <div class="col-2 col-lg-2 col-xl-3"></div>
            <div id="heading-section" class="col-8 col-lg-8 col-xl-6 px-5 py-4">
                <div class="row">
                    <div>
                        <h1>{{"About Us"|transloco}}</h1>
                        <p class="text-center">{{"abussection"|transloco}}</p>
                    </div>
                </div>
            </div>
            <div class="col-2 col-lg-2 col-xl-3">
            </div>
        </div>
    </div>
</div>
<div class="white-bg">
    <div class="container px-4 ">
        <div class="row about-section gx-5">

            <div class="col">

                <p class="about-heading">
                  {{"AboutUS"|transloco}}
                </p>
                <h3 class="sign-up">
                    {{"abussection2h"|transloco}}
                </h3>
                <p class="platform">
                    {{"abussection2p"|transloco}}
                </p>

            </div>
            <div class="d-none d-lg-block col-lg-1">

            </div>
            <div class="col d-none d-lg-block">
                <p> <img [src]="aboutSectionImg" class="img-fluid shadow-2-strong" alt="" /></p>
            </div>
        </div>
    </div>
</div>
<div id="about-uss">
    <div class="container section py-5">
        <div class="row">
            <div class="col d-none d-lg-block">
                <div class="Card shadow border-0">
                    <img class="card-img imge" i18n-alt [src]="aboutbuildingImg" height="370px" alt="">
                </div>
            </div>
            <div class="col">
                <div class="card px-2 border-0 radius shadow">
                    <div class="card-body pb-4">
                        <p class="about-heading">{{"REALESTATESIMPLIFIED"|transloco}}</p>
                        <h2 class="float-left">{{"abussection3h"|transloco}}</h2>
                        <div class="pt-3">
                            <p>
                                {{"abussection3p"|transloco}}
                            </p>
                            <p>{{"abussection3p1"|transloco}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="white-bg">
    <div class="container about-section px-4 ">
        <div class="row gy-2  gx-5">
            <div class="col-sm-12">
                <p class="about-heading text-center">
                    {{"OURSERVICES"|transloco}}
                </p>
                <h1 class="sign-up text-center font-weight-bold">
                    {{"abussection4h"|transloco}}
                </h1>
                <p class="platform text-center">
                    {{"abussection4p"|transloco}}
                </p>
            </div>


        </div>
        <div class="row  pt-3 gx-5">
            <div class="col-sm-6">
                <div class="card border-0 hfgh">
                    <div class="card-body mar">
                        <div class="text-center martop">
                            <h5>{{"PropertyListings"|transloco}}</h5>
                            <p>{{"abussection4p1"|transloco}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card border-0 hfgh">
                    <div class="card-body mar">
                        <div class="text-center martop">
                            <h5>{{"PropertyManagement"|transloco}}</h5>
                            <p>{{"Abussection4p2"|transloco}}
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="white-bg">
    <div class="container px-4 ">

    </div>
</div>


<div id="imagendsection">

    <div class="container px-4 ">
        <div class="row about-sectionlast gx-5">

            <div class="col ">
                <p class="about-headings primary">
                    {{"abussection5p"|transloco}}
                </p>

                <h3 class="sign-in">
                    {{"abussection5h"|transloco}}
                </h3>
                <p class="platform sign-in ">
                    {{"abussection5p1"|transloco}}

                </p>
                <p class="platform sign-in">{{"abussection5p2"|transloco}}
                    </p>
                <button mat-flat-button color="primary" class="btn-download" (click)="goTo('aboutus')" onclick="window.scrollTo(0,0)"
                    (click)="opengoogleplay()">{{"DownloadNow"|transloco}}</button>


            </div>
            <div class="d-none d-lg-block col-lg-1">

            </div>
            <div class="col d-none d-lg-block">

            </div>
        </div>
    </div>

</div>