<app-top-bar [logred]="color" [data]="logocolor" [btncolor]="btnColor" [activeroute]="activeroutes"></app-top-bar>
<hr>
<div class="loading" *ngIf="loading ; else showList">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<ng-template #showList>
    <div class="container" *ngIf="propertyDetail">
        <app-breadcrumbpropertyfulldisplay [propertyDetail]="propertyDetail"
            [propertyMasterTypeID]="propertyMasterTypeID" [pmid]="pmid" [unitcatID]="unitcatID"
            [listpurID]="propertyDetail[0].listingPurposeID"[propertyMasterType]="propertyMasterTypeID"
            [propertyMasterTypeID]="propertyMasterTypeID"[listingPurposeID]="listingPurposeID" [governorateid]="governorateid"
             [subTypeId]="subTypeId" [unitsid]="unitsid"
            [minValue]="minValue" [maxValue]="maxValue" [propertyMasterSubType]="propertyMasterSubType"></app-breadcrumbpropertyfulldisplay>

        <app-propertyfulldisplaylist [propertyDetail]="propertyDetail" [propertyFeature]="propertyFeature"
            [unitcatID]="unitcatID" [statuss]="statuss" [imgindex]="imgindex" [listpurID]="listpurID"
            [PropertySubTypeID]="PropertySubTypeID" [pmid]="pmid" [propertyUnitid]="propertyUnitid"
            [unitcategorydesc]="unitcategorydesc" [propertysubdesc]="propertysubdesc" [landlordid]="landlordid"
            [imageUser]="imageUser" [propertyMasterSubType]="propertyMasterSubType" [unitsid]="unitsid"></app-propertyfulldisplaylist>

    </div>


</ng-template>