<app-top-bar [logred]="color" [data]="logocolor"></app-top-bar>
<hr>
<div class="loading" *ngIf="loading ; else showList">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<ng-template #showList>
    <div class="container p-4">
        <div class="row border-bottom " *ngIf="listingpupose">
            <div class="col-md-2">
                <mat-form-field appearance="outline" *ngIf="listingpupose[0]">
                    <mat-select [(value)]="listingpupose[0].listingPurposeType">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let doc of listingpupose" [value]="doc.listingPurposeType"
                            (click)="onclicks(doc.listingPurposeType)">
                            {{doc.desc}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <div style="display: flex;">
                        <input matInput type="text" placeholder="Enter location" [disabled]="inputfild"><i
                            class="fa fa-map-marker icolor pb-1" aria-hidden="true"></i>
                    </div>

                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button class="border px-4" mat-stroked-button (click)="open(content)">Residential<i
                        class="fa fa-caret-down p-4 "></i></button>
                <ng-template #content let-modal>
                    <div class="modal-header" *ngIf="propertymasterType">
                        <mat-tab-group>
                            <ng-container *ngFor="let doc of propertymasterType">
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <span (click)="matTab(doc.masterType)">{{doc.desc}}</span>

                                    </ng-template>
                                    <ng-container>
                                        <div class="container">
                                            <div class="row justify-content-md-center btn-row" *ngIf="propertysubType">
                                                <div class="col-auto p-0 pt-2" *ngFor="let doc of propertysubType">
                                                    <div *ngIf="doc.propertyMasterTypeID==mastertypeid">
                                                        <button id="view-cmp-btn" mat-raised-button
                                                            [value]="doc.propertyMasterTypeID"
                                                            [value]="doc.propertySubType.subType" class="me-2 mb-2 "
                                                            (click)="onsubType(doc.propertyMasterTypeID!, doc.propertySubType.subType)">{{doc.propertySubType.desc}}</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </mat-tab>
                            </ng-container>
                        </mat-tab-group>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" *ngIf="propertyUnitCategoryType[0]">
                    <mat-select [(value)]="propertyUnitCategoryType[0].desc">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let doc of propertyUnitCategoryType" [value]="doc.desc"
                            (click)="onclickunitid(doc.unitCategory)">
                            {{doc.desc}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-md-2">

                <button class="border px-4" mat-stroked-button (click)="openprice(price)">Price (OMR)<i
                        class="fa fa-caret-down p-4 "></i></button>
                <ng-template #price let-modal>
                    <div class="row justify-content-md-center pricecenter pt-2">
                        <div class="col-6 copywrite">
                            <p>Min:</p>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="0" value="">
                              </mat-form-field>
                        </div>
                        <div class="col-6">
                            <p>Max:</p>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="any" value="">
                              </mat-form-field>
                        </div>
                    </div>
                </ng-template>

            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-select [(value)]="Rent">
                        <mat-option>Price (OMR)</mat-option>
                        <mat-option>Buy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <h4 class="mt-4">Properties for rent in oman</h4>


        <div class="row mt-4" *ngIf="propertyDetail">
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3" *ngFor="let property of propertyDetail| paginate
        :{  itemsPerPage: itemsPerPage,
            currentPage: page,
            totalItems: propertyOfCount}">
                <div class="card border-r mb-4 shadow-none border-0" (click)="onclick(property.propertyMasterID!,property.listingPurposeID!, property.unitCategoryID!, property.landLordID!
                )">
                    <img [src]="property.imageString || bydefault" class=" imagecss" alt="Card Image">
                    <div class="card-body p-0">
                        <p><b>{{property.propertyMasterName}}</b></p>
                        <div>
                            <h5 class="inline">{{property.rentPrice}}</h5>
                            <div class="mt-2">
                                <p class="secondary-font-regular card-text align-left  max-lines-2">
                                    {{property.addressStr}}
                                </p>
                            </div>

                            <div id="main">
                                <p class=""><img class="pe-2" [src]="bedroomimg">{{property.bedRoom}} </p>
                                <p class=""><img class="pe-2" [src]="washroomimg">{{property.bathRoom}}
                                </p>
                                <p><img class="" [src]="areaimg">{{property.sqft}} SQM</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <nav class="pagination justify-content-end pt-3">
                <pagination-controls (pageChange)="pageChange((page = $event))"></pagination-controls>
            </nav>
        </div>

    </div>
</ng-template>