.imagecss {
    height: 13rem;
    max-height: 13rem;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;

}

#main {
    display: flex;

    justify-content: space-between;



}

.border-r {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.color-w {
    background-color: white !important;
    color: black !important;
}

.btn-primary {
    color: black !important;
    background-color: white !important;
    border-radius: 0;
}

#overlay {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgba(0,0,0,0.5);
    z-index: 11;
}

#overlay-content {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

.mat-stroked-button {
    border-radius: 10px;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}

.btn-row {
    display: flex;
    justify-content: left !important;
}

#view-cmp-btn {
    border-radius: 20px;
}

.modal {
    display: none;
}

.modal-backdrop {
    display: none;
}

#model {
padding-top: 400px;

}
.modal{
    padding-top: 400px !important;
}
// .model{
//     height: 600px;
//     margin: 400px;
// }
.icolor{
    color: #9e2a2b;
    
}
.pricecenter{
    display: flex;
    justify-content: center !important;
}
.copywrite {
    text-align: center;
}
.item-content{
    border-radius: 4px 4px 0px 0px;
    display: flex !important; 
    justify-content: center !important;
}
.justify-content-center {
        justify-content: center !important;
    }
    .contact-names:hover {
        color:white;
       }
   
       .item-content:active{
        background-color:#345C66;;
       }


       .popup-btn{
        background-color: #345C66;
        color: white;
       }
       .float-right{
        float:right;
       }