<app-top-bar [logred]="color" [data]="logocolor" [btncolor]="btnColor" [activeroute]="activeroutes"></app-top-bar>
<hr>
<div class="loading" *ngIf="loading ; else showInfo">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<ng-template #showInfo>
    <div class="container mt-4 ">
        <app-breadcrumb [indiviualsUni]="indiviualsUni" [sharedmodel]="sharedmodel"
            [propertyMasterTypeID]="propertyMasterTypeID"></app-breadcrumb>
        <div>
            <div *ngIf="indiviualsUni" class="row gx-3">

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4" *ngFor="let property of indiviualsUni| paginate
         :{  itemsPerPage: itemsPerPage,
            currentPage: page,
            totalItems: IndiviualsUnitTotalCount}">
                    <app-unitcategorylist [property]="property" [sharedmodel]="sharedmodel"
                        [landLordID]="property.landlordID"></app-unitcategorylist>
                </div>
                <div class="h-message" *ngIf="indiviualsUni.length == 0">
                    <div class="pt-5 d-flex  justify-content-center align-items-center">
                        <img [src]="notfound" alt="" width="360px" height="250px">
                    </div>

                    <div class="  d-flex  justify-content-center align-items-center">
                        <p class="color-property">No property found</p>
                    </div>
                    <div class="pt-3  d-flex  justify-content-center align-items-center align-items-center">
                        <button type="button" routerLink="../propertydetails" color="primary" class="border-done px-5">
                            Search Property
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="IndiviualsUnitTotalCount>9 else divshows">
            <nav class="pagination justify-content-end pt-3">
                <pagination-controls (pageChange)="pageChange((page = $event))"></pagination-controls>
            </nav>
        </div>
        <ng-template #divshows>
            <div style="height:150px;">

            </div>
        </ng-template>

    </div>
</ng-template>