<div class="my-card mb-4" *ngIf="property"
    (click)="onclick(property.propertyMasterID!,property.propertyUnitID!, property.unitCategoryID!, landLordID ,property.statuss! ,property.propertySubTypeId, property.caption)">
    <div class="row">
        <div class="col-md-5  fill">
            <img class="card-img-top m-2" [src]="property.imageString || bydefault" height="150px" width="150px"
                alt="Card image">
        </div>
        <div class="col-md-7 text-cards">
            <div class="card-body">
                <div *ngIf="property.propertySubTypeId ==15 else showunits">
                    <p class="card-text">Type: {{property.propertyMasterSubTypeName}}
                    </p>
                    <p class="card-text">Plot Number:{{property.plotNumber}}</p>
                    <p class="card-text">Unit ID:{{property.propertyUnitID}}</p>
                    <div *ngIf="property.caption ==0 || property.caption == null  else showCaption">
                        <!-- not show Caption -->
                    </div>
                    <ng-template #showCaption>
                        <p class="card-text">Caption: {{property.caption}}</p>
                    </ng-template>

                    <p class="card-text"><img class="pe-2 imgcolor" [src]=" location">{{property.addressStr}}</p>
                    <p class="card-text">Status: {{getstutus(property.statuss!)}}</p>
                </div>
                <ng-template #showunits>
                    <p class="card-text">Type: {{property.propertyMasterSubTypeName}}
                    </p>
                    <p class="card-text">Building ID:{{property.buildingNumber}}</p>
                    <p class="card-text">Unit ID:{{property.propertyUnitID}}</p>
                    <div *ngIf="property.caption == 0 else showcaption">
                        <!-- not show caption -->
                    </div>
                    <ng-template #showcaption>
                        <p class="card-text">Caption: {{property.caption}}</p>
                    </ng-template>

                    <p class="card-text"><img class="pe-2 imgcolor" [src]=" location">{{property.addressStr}}</p>
                    <p class="card-text">Status: {{getstutus(property.statuss!)}}</p>
                </ng-template>

            </div>
        </div>
    </div>
</div>