<div class="card  mb-4   b-radius" *ngIf="property" onclick="window.scrollTo(0,0)"
    (click)="onclick(property.propertyMasterID!,property.propertyUnitID!, property.unitCategoryID!, landLordID ,property.propertySubTypeId!)">
    <div class="row">
        <div class="col-md-5 fill">
            <img class="card-img-top m-2" [src]="property.imageString || bydefault" height="150px" width="150px"
                alt="Card image">
        </div>
        <div class="col-md-7 text-cards">
            <div>
                <p class="card-text" i18n>Type: {{property.propertyMasterSubTypeName}}
                </p>
                <p class="card-text" i18n>Building ID:{{property.buildingNumber}}</p>
                <p class="card-text" i18n>Unit ID:{{property.propertyUnitID}}</p>
                <div *ngIf="property.caption == 0 || property.caption == null else showcaption">
                    <!-- not show caption -->
                </div>
                <ng-template #showcaption>
                    <p class="card-text" i18n>Caption: {{property.caption}}</p>
                </ng-template>
                <p class="card-text pe-1"><img class="pe-2 imgcolor" [src]=" location">{{property.addressStr}}</p>
                <p class="card-text" i18n>Status: {{getstutus(property.statuss!)}}</p>
            </div>
        </div>
    </div>
</div>