<div class="loading" *ngIf="loading ; else showList">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<ng-template #showList>
    <div class="row mt-4" *ngIf="ownerPropertyFilter">
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3" *ngFor="let property of ownerPropertyFilter| paginate
        :{
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: filterCount
        }
        ">
            <div class="card border-r mb-4 shadow-none border-0" (click)="onclick(property.propertyMasterID!,property.listingPurposeID!, property.unitCategoryID!, property.landLordID! ,property.propertyMasterTypeID!
        )">
                <img [src]="property.imageString || bydefault" class=" imagecss main" alt="Card Image">
                <div class="card-body p-0 px-3 pt-2">
                    <p><b>{{property.propertyMasterName}}</b></p>
                    <div>
                        <h6 class="inline">{{property.unitName}} | {{getsubType(property.propertyMasterSubType!)}}
                        </h6>
                        <div class="mt-2">
                            <h5>
                                OMR {{property.rentPrice}} Monthly
                            </h5>
                        </div>
                        <div id="main">
                            <p class=""><img class="pe-2" [src]="bedroomimg">{{property.bedRoom}} </p>
                            <p class=""><img class="pe-2" [src]="washroomimg">{{property.bathRoom}}
                            </p>
                            <p><img class="pe-2" [src]="areaimg">{{property.sqft}} SQM</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class=" d-flex align-items-center justify-content-center" style="height: 350px;"
            *ngIf="!ownerPropertyFilter[0]">
            <p class="">No Property Listed</p>
        </div>
        <div *ngIf="pageShow">
            <nav class="pagination justify-content-end pt-3" >
                <pagination-controls (pageChange)="pageChange((page = $event))" class="p-controls"></pagination-controls>
            </nav>
        </div>
       

    </div>
</ng-template>