<div>
    <div class="card  border-r mb-4 shadow-none border-0" *ngIf="property" onclick="window.scrollTo(0,0)"
        (click)="onclick( property.unitCategoryID!, property.landLordID!, property.propertyMasterID!,property.propertyMasterSubType!, property.listingPurposeID)">
        <img [src]="property.imageString || defaultimage" class=" imagecss main" alt="Card Image">
        <div class="card-body cd p-0  pt-2">
            <div
                *ngIf="property.propertyMasterSubType== 15 else propertyMasterName">
                <p><b>{{getMasterTypeId(property.propertyMasterTypeID)}} Plot</b></p>
            </div>
            <ng-template #propertyMasterName>
                <p><b>{{property.propertyMasterName}}</b></p>
            </ng-template>

            <div>
                <div
                    *ngIf="( property.unitCategoryID== 12) || ( property.propertyMasterSubType== 15 ) else unitname">
                    <h6 class="inline">{{getsubType(property.propertyMasterSubType!)}}</h6>

                </div>
                <ng-template #unitname>

                    <h6 class="inline">{{property.unitName}} | {{getsubType(property.propertyMasterSubType!)}}
                    </h6>
                </ng-template>


                <div class="mt-2">
                    <h6 *ngIf="property.listingPurposeID ==1; else nolistpurposeid">
                        OMR <span class="font-price">{{property.rentPrice}}</span>/Month
                    </h6>
                    <ng-template #nolistpurposeid>
                        <h6>
                            OMR <span class="font-price">{{property.sellPrice}}</span>/Sale Price
                        </h6>
                    </ng-template>
                </div>
                <div *ngIf="property.unitCategoryID== 12 else unitcatid">
                    <!-- unitCategoryID== 12 show empty data -->
                </div>
                <ng-template #unitcatid>
                    <div
                        *ngIf="(property.propertyMasterSubType== 15) || (property.unitCategoryID==6)  else plot">
                        <p><img class="pe-2" [src]="areaimg">{{property.sqft}} SQM</p>
                    </div>
                    <ng-template #plot>
                        <div id="main">
                            <p class=""><img class="pe-2" [src]="bedroomimg">{{property.bedRoom}} </p>
                            <p class=""><img class="pe-2" [src]="washroomimg">{{property.bathRoom}}
                            </p>
                            <p><img class="pe-2" [src]="areaimg">{{property.sqft}} SQM</p>
                        </div>
                    </ng-template>

                </ng-template>

            </div>
        </div>
    </div>
</div>