<div class="loading" *ngIf="loading ; else showList">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<ng-template #showList>
    <div class="row mt-4" *ngIf="ownerPropertyFilter">
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3" *ngFor="let property of ownerPropertyFilter| paginate
        :{
              itemsPerPage: perpagenumber,
              currentPage: page,
              totalItems: filterCount
        }
        ">
            <div class="card border-r mb-4 shadow-none border-0" (click)="onclick(property.propertyMasterID!,property.listingPurposeID!, property.unitCategoryID!, property.landLordID! ,property.propertyMasterTypeID!,property.propertyMasterSubType
        )">
                <img [src]="property.imageString || bydefault" class=" imagecss main" alt="Card Image">
                <div class="card-body p-0 px-3 pt-2">
                    <p><b>{{property.propertyMasterName}}</b></p>
                    <div>
                        <div *ngIf="property.unitCategoryID== 12 else nounitname">
                            <h6 class="inline">{{getsubType(property.propertyMasterSubType!)}}</h6>
                            
                        </div>
                        <ng-template #nounitname>
                            <h6  class="inline">{{property.unitName}} | {{getsubType(property.propertyMasterSubType!)}} </h6>
                        </ng-template>
                       

                        <div class="mt-2">
                            <h5 *ngIf="listid ==1   ; else nolistpurposeid">
                                OMR {{property.rentPrice}}/mon
                            </h5>
                            <ng-template #nolistpurposeid>
                                <h5>
                                    OMR {{property.sellPrice}}
                                </h5>
                            </ng-template>
                        </div>
                        <div *ngIf="property.unitCategoryID== 12 else unitcatid">
                            <!-- unitCategoryID== 12 show empty data -->
                        </div>
                        <ng-template #unitcatid>
                            <div id="main">
                                <p class=""><img class="pe-2" [src]="bedroomimg">{{property.bedRoom}} </p>
                                <p class=""><img class="pe-2" [src]="washroomimg">{{property.bathRoom}}
                                </p>
                                <p><img class="pe-2" [src]="areaimg">{{property.sqft}} SQM</p>
                            </div>
                        </ng-template>

                    </div>
                </div>
            </div>

        </div>
        <div class=" d-flex align-items-center justify-content-center" style="height: 350px;"
            *ngIf="!ownerPropertyFilter[0]">
            <p class="">No Property Listed</p>
        </div>
        <div *ngIf="pageShow">
            <nav class="pagination justify-content-end pt-3">
                <pagination-controls (pageChange)="pageChange((page = $event))"
                    class="p-controls"></pagination-controls>
            </nav>
        </div>


    </div>
</ng-template>