.vl {
    border-left: 4px solid red;
    border-right: 5px solid red;
    height: 20px;
}

.under {
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
}

.inline {
    display: inline;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.horizontal {
    content: "";
    display: table;
    clear: both;
}

.imagecss {
    height: 13rem;
    max-height: 13rem;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}
.card-body {
    flex: 11 auto;
    padding: var(none) var(--bs-card-spacer-x); 
    color: var(--bs-card-color); 
}
.border-r{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.imgcolor{
    width:18px ;
    color: #9E2A2B;
}