<div class="row p-0">
    <div class="col-lg-4 float-start">
        <ul class="breadcrumb">
            <li><a (click)="backtosearch()" class="cursor"><i class="fa fa-angle-left pe-2"
                        aria-hidden="true"></i>{{"BackToSearch"|transloco}}</a></li>
        </ul>
    </div>
    <div class="col-lg-8 col-sm-12" *ngIf="indiviualsUni[0]">
        <ul class="breadcrumb">
            <li><a routerLink="">{{"Mumtalikati"|transloco}}</a></li>
            <li> <a href="#" routerLink="../propertydetails" *ngIf="!propertyMasterTypeID">{{"All"|transloco}}</a>
                <a href="#" routerLink="../propertydetails" *ngIf="propertyMasterTypeID">{{
                    getenum(propertyMasterTypeID) }}</a>
            </li>
            <li><a (click)="backtosearch()" class="cursor"> {{getsubtypeID(indiviualsUni[0].propertySubTypeId)}}</a>
            </li>
            <li>{{getUnitcatID(indiviualsUni[0].unitCategoryID)}}</li>
        </ul>
    </div>
</div>