<div>
    <div class="center-align mt-4">
        <!-- <img [src]="restpassword" class="center-align" alt="" height="150" width="150"> -->
    </div>

    <h5 class="center-align">Reset Your Password</h5>
    <div class="row">
        <div>
            <mat-form-field appearance="outline">
                <mat-label> New Password</mat-label>
                <input matInput placeholder="Password"  id="4"
                    [type]="hide ? 'password' : 'text'" required>
                <span matSuffix (click)="hide = !hide"> <i *ngIf="!hide" class="fas fa-eye"></i>
                    <i *ngIf="hide" class="fas fa-eye-slash"></i>
                </span>
                <mat-error>
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row pt-4 pb-4">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Re-enter your new password</mat-label>
                <input matInput placeholder="Password"  id="5"
                    [type]="hide ? 'password' : 'text'" required>
                <span matSuffix (click)="hide = !hide"> <i *ngIf="!hide" class="fas fa-eye"></i>
                    <i *ngIf="hide" class="fas fa-eye-slash"></i>
                </span>
                <!-- <mat-error *ngIf="forgetform.controls['forgotpassword'].errors?.required">This field
                    is
                    required</mat-error>

                <mat-error *ngIf="forgetform.controls['forgotpassword'].errors?.compare">Password
                    not match
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>

    <div class="button-wrapper">
        <button mat-flat-button color="primary" class="block" >
            <span
                class="spinner-border spinner-border-sm mr-1"></span>{{"Change Password"|
            titlecase
            }}</button>
    </div>
</div>
