<p>Select Your Role</p>
<div class="pb-2" style="position: relative;" (click)="selectUserRole(1)">
    <div *ngIf="selectedRole && selectedRole === 1" class="mr-3  px-2 py-1 check">
        <i class="fa-regular fa-circle-check"></i>
    </div>
    <div class="fill" >
        <div class="role-card ps-4 applicant-role center mt-2">
            <img [src]="phoneimg" alt="img">
            <p class="p-3">Landlord</p>
        </div>
    </div>
</div>
<div *ngIf="selectedRole === 1" class="pt-2"> </div>
<div class="pb-2" style="position: relative;" (click)="selectUserRole(2)">
    <div *ngIf="selectedRole && selectedRole === 2" class="mr-3  px-2 py-1 check">
        <i class="fa-regular fa-circle-check"></i>
    </div>
    <div class="fill" >
        <div class="role-card ps-4 investor-role center mt-2">
            <img [src]="phoneimg" alt="img">
            <p class="p-3">Tenant</p>
        </div>
    </div>
</div>
<div class="pb-2" style="position: relative;" (click)="selectUserRole(2)">
    <div *ngIf="selectedRole && selectedRole === 2" class="mr-3  px-2 py-1 check">
        <i class="fa-regular fa-circle-check"></i>
    </div>
    <div class="fill" >
        <div class="role-card ps-4 investor-role center mt-2">
            <img [src]="emailimag" alt="img">
            <p class="p-3">Service Provider</p>
        </div>
    </div>
</div>
<div class="pb-2" style="position: relative;" (click)="selectUserRole(2)">
    <div *ngIf="selectedRole && selectedRole === 2" class="mr-3  px-2 py-1 check">
        <i class="fa-regular fa-circle-check"></i>
    </div>
    <div class="fill" >
        <div class="role-card ps-4 investor-role center mt-2">
            <img [src]="emailimag" alt="img">
            <p class="p-3">Listing Portal</p>
        </div>
    </div>
</div>
<div class="right-align pt-2">
    <button type="button" [disabled]="!selectedRole" mat-flat-button color="primary" (click)="next()">
        <span></span>{{"Next" | titlecase}}</button>
</div>
<div class="pb-4"></div>
<div class="go-to-signin secondary-font center-align pt-4">
    Have an account? <span class="signdiv" (click)="onchangetab(0)">Sign in</span>
</div>
