<div id="contact-us">
    <app-top-bar></app-top-bar>
    <div class="container">
        <div class="row gx-4">
            <div class="col-2 col-lg-2 col-xl-3"></div>
            <div id="heading-section" class="col-8 col-lg-8 col-xl-6 px-5 py-4">
                <div class="row">
                    <div>
                        <!-- <markdown  [data]="markdown"></markdown> -->
                        <h1>{{"ContactUs"|transloco}}</h1>
                        <p class="text-center">
                           {{"coussectionp"|transloco}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2 col-lg-2 col-xl-3">
            </div>
        </div>
    </div>
</div>

<div class="white-bg">
    <div class="container">
        <div class="row section gx-5">
            <div class="col">
                <p class=" small-colored-heading">
                    {{"coussection2p"|transloco}}
                </p>
                <div>
                    <h3>{{"coussection2h"|transloco}}</h3>
                    <p>
                       {{"coussection2p2"|transloco}}
                    </p>
                    <!-- <markdown  [data]="markdownselect"></markdown> -->
                </div>
                <!-- <h3>
                    Ready To Take the Next Step in Real Estate?
                </h3>
                <p class="secondary-font left-align">
                    Reach us anytime, anywhere. We're excited to be a part of your real estate journey
                </p> -->
                <hr>
                <div class="row gx-5 pt-4" >
                    <div class="col-md-6" >
                        <h5 class="hr-color">{{"EmailUs"|transloco}}</h5>
                        <!-- <div  class="hr-color"></div> -->
                        <div class="pt-2">
                            <p>Support@mumtalikati.com</p>
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                        <h5  class="hr-color">{{"CallUs"|transloco}}</h5>
                      <!-- <div  class="hr-color"></div> -->
                        <div class="pt-2">
                            <p [dir]="direction">+968 99160109</p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-1">
            </div>
            <div class="col d-none d-lg-block">
                
                      <div id="map"></div>
                   
                <!-- <p> <img [src]="aboutSectionImg"  class="img-fluid shadow-2-strong" alt="" /></p> -->
            </div>
        </div>
    </div>
</div>

<div id="messageimg">
    <div id="heading-section" class="pt-4">
        <div class="row justify-content-center">
            <div>
                <p class="text-center pcenter">
                    "{{"coussection3p"|transloco}}"
                </p>
                <h1 class="pcenter">{{"coussection3h"|transloco}}</h1>

            </div>
        </div>
    </div>

    <div class="card  shadow-2 border-none card-message ">
        <div class="card-body px-4">
            <form *ngIf="contactusform" [formGroup]="contactusform" (ngSubmit)="onSubmit()" novalidate #regForm="ngForm">
                <div class="row gx-2">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>{{"FullName"|transloco}}</mat-label>
                            <input matInput  placeholder="{{'FullName'|transloco}}" formControlName="name" required>
                            <mat-error>
                                {{"mat-error1"|transloco}} <strong>{{"required"|transloco}}</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>{{"Email"|transloco}}</mat-label>
                            <input matInput placeholder="{{'Enteremail'|transloco}}" formControlName="email" required>
                            <mat-error>
                                {{'mat-error2'|transloco}} <strong>{{"required"|transloco}}</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>{{"PhoneNumber"|transloco}}</mat-label>
                    <input matInput  placeholder="986 123 4567" formControlName="phonenumber" required>
                    <mat-error>
                        {{"mat-error3"|transloco}} <strong>{{"required"|transloco}}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{"Subject"|transloco}}</mat-label>
                    <input matInput placeholder="{{'Subject'|transloco}}" formControlName="subject" required>
                    <mat-error>
                        {{'mat-error4'|transloco}} <strong>{{"required"|transloco}}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'Message'|transloco}}</mat-label>
                    <input matInput placeholder="{{'Message'|transloco}}" formControlName="body" required>
                    <mat-error>
                        {{'mat-error5'|transloco}} <strong>{{"required"|transloco}}</strong>
                    </mat-error>
                </mat-form-field>
                <div class="button-wrapper">
                    <button mat-flat-button class="block" color="primary" onclick="window.scrollTo(0,0)" [disabled]="contactusformValid"><span 
                            class="spinner-border spinner-border-sm mr-1" *ngIf="loading"></span>{{'Submit'|transloco|
                        titlecase
                        }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5 pb-4">
    <div class="row  gx-5 justify-content-center">
        <div class="col-sm-8 col-lg-7 ">
            <div class="">
                <p class="primary align-center"> {{'OfficialSocialMedia'|transloco}}</p>
                <h2 class="align-center">{{'FollowUsforRealEstateInsights'|transloco}}
                </h2>
                <div   class=" d-flex gap-3 py-3 icons" aria-current="true">
                    <a href="https://www.facebook.com/Mumtalikati">
                        <img [src]="facebook" alt="twbs" width="42" height="42" class=" flex-shrink-0 go-to-signin ">
                    </a>
                    <a href="https://www.instagram.com/mumtalikati/"> <img [src]="ins" alt="twbs" width="42" height="42"
                            class=" flex-shrink-0 go-to-signin "></a>
                    <a href="https://www.linkedin.com/company/mumtalikati/?viewAsMember=true"><img [src]="linkin"
                            alt="twbs" width="42" height="42" class=" flex-shrink-0 go-to-signin"></a>
                </div>
            </div>
        </div>
    </div>
</div>