@import "../../variables.scss";

#image {
  background-image: url('https://d2og5lryw1ajtt.cloudfront.net/img/contactus.png');
  // height: 40vh;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-size: cover;
}

.primary {
  color: #9E2A2B;
}

#messageimg {
  background-image: url('https://d2og5lryw1ajtt.cloudfront.net/img/message-section.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-size: 100% 70%;
}

.card-message {
  text-align: center;
  margin: auto;
  top: 30%;
  width: 40%;
  max-width: 700px;
  border-radius: 13px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  border: none;
  background: #FFFFFF;

}
.align{
  text-align: center;

}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.heade {
  text-align: center;
}

.map {
  width: 100%;
  height: 400px;
}

.align-center {
  text-align: center;
}

.place {
  place-self: center;
}

.pcenter {
  color: #FFFFFF;
}

#contact-us {
  background-image: url("https://d2og5lryw1ajtt.cloudfront.net/img/contactus.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%
}

#heading-section {
  color: #FFFFFF;
  text-align: center;
}

.section {
  padding-block: 4rem;
  color: black;
  font-size: 16px;
  text-align: left;
}

.small-colored-heading {
  font-size: $title;
  color: $primary-color;
  text-align: left !important;
}
.icons{
  justify-content: center;
}