<div id="contact-us">
    <app-top-bar></app-top-bar>
    <div class="container">
        <div class="row gx-4">
            <div class="col-2 col-lg-2 col-xl-3"></div>
            <div id="heading-section" class="col-8 col-lg-8 col-xl-6 px-5 py-4">
                <div class="row">
                    <div>
                        <!-- <markdown  [data]="markdown"></markdown> -->
                        <h1>Contact Us</h1>
                        <p class="text-center">
                            We're always happy to chat and offer our insights and expertise. Let's make your real estate goals a reality!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2 col-lg-2 col-xl-3">
            </div>
        </div>
    </div>
</div>

<div class="white-bg">
    <div class="container">
        <div class="row section gx-5">
            <div class="col">
                <p class=" small-colored-heading">
                    Contact Mumtalikati today!
                </p>
                <div>
                    <markdown  [data]="markdownselect"></markdown>
                </div>
                <!-- <h3>
                    Ready To Take the Next Step in Real Estate?
                </h3>
                <p class="secondary-font left-align">
                    Reach us anytime, anywhere. We're excited to be a part of your real estate journey
                </p> -->
                <hr>
                <div class="row gx-5 pt-4">
                    <div class="col-6">
                        <h5>Email Us</h5>
                        <div class="hr-color"></div>
                        <div class="pt-2">
                            <p>Support@mumtalikati.com</p>
                        </div>
                       
                    </div>
                    <div class="col-6">
                        <h5>Call Us</h5>
                      <div class="hr-color"></div>
                        <div class="pt-2">
                            <p>+968 99160109</p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-1">
            </div>
            <div class="col d-none d-lg-block">
                <p> <img [src]="aboutSectionImg" class="img-fluid shadow-2-strong" alt="" /></p>
            </div>
        </div>
    </div>
</div>

<div id="messageimg">
    <div id="heading-section" class="pt-4">
        <div class="row justify-content-center">
            <div>
                <p class="text-center pcenter">
                    "Got a question, comment, or suggestion? Drop us a message using the form below!"
                </p>
                <h1 class="pcenter">Your Partner in Real Estate Success</h1>

            </div>
        </div>
    </div>

    <div class="card  shadow-2 border-none card-message ">
        <div class="card-body px-4">
            <form *ngIf="contactusform" [formGroup]="contactusform" (ngSubmit)="onSubmit()" novalidate>
                <div class="row gx-2">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Full Name</mat-label>
                            <input matInput placeholder="Full Name" formControlName="name" required>
                            <mat-error>
                                Full Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter email" formControlName="email" required>
                            <mat-error>
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput  placeholder="986 123 4567" formControlName="phonenumber" required>
                    <mat-error>
                        Phone Number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input matInput placeholder="Subject" formControlName="subject" required>
                    <mat-error>
                        Subject is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <input matInput placeholder="message" formControlName="body" required>
                    <mat-error>
                        Message is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <div class="button-wrapper">
                    <button mat-flat-button class="block" color="primary" onclick="window.scrollTo(0,0)" [disabled]="contactusformValid"><span 
                            class="spinner-border spinner-border-sm mr-1" *ngIf="loading"></span>{{" submit"|
                        titlecase
                        }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5 pb-4">
    <div class="row  gx-5 justify-content-center">
        <div class="col-sm-8 col-lg-7 ">
            <div class="">
                <p class="primary align-center">Official Social Media</p>
                <h2 class="align-center">Follow Us for Real Estate Insights
                </h2>
                <div   class=" d-flex gap-3 py-3 icons" aria-current="true">
                    <a href="https://www.facebook.com/Mumtalikati">
                        <img [src]="facebook" alt="twbs" width="42" height="42" class=" flex-shrink-0 go-to-signin ">
                    </a>
                    <a href="https://www.instagram.com/mumtalikati/"> <img [src]="ins" alt="twbs" width="42" height="42"
                            class=" flex-shrink-0 go-to-signin "></a>
                    <a href="https://www.linkedin.com/company/mumtalikati/?viewAsMember=true"><img [src]="linkin"
                            alt="twbs" width="42" height="42" class=" flex-shrink-0 go-to-signin"></a>
                </div>
            </div>
        </div>
    </div>
</div>