<div class="signup-block">
    <h3 class="center-align">Change your Password</h3>
    <form>
        <div [ngSwitch]="onchangepasswordStep">
            <div *ngSwitchCase=1>
                 <!----phone number-->
                <app-phone-number></app-phone-number>
            </div>
            <!----otp case-->
            <div *ngSwitchCase=3>
                <app-otp-verification></app-otp-verification>
            </div>
            <!----reset you password-->
            <div *ngSwitchCase=4>
             <app-setyou-password></app-setyou-password>
            </div>
           
        </div>

    </form>
</div>