$primary-color: #9E2A2B;
$white-color : white;
$light-bg :#fefefe;
$input-field-bg: #e6e6e620;
$campaign-text-color : #0F296A;
$body-bg: #EDF1FC;
$faq-heading : #263238;
$primary:#9E2A2B;
$applicant-role-card: rgba(155, 61, 157, 0.2);
$investor-role-card: rgba(255, 199, 39, 0.2);

$type-individual-investor : rgba(241, 78, 30, 0.15);
$type-corporate-investor: rgba(28, 175, 130, 0.2);

$role-card-color : rgba(15, 41, 106, 1);

// font
$primary-font-color : black;
$secondary-font-color : #7A7A7A;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "semi-bold": 500,
    "bold": 700
);
$heading1: 72px;
$heading2: 36px;
$heading3: 32px;
$heading4: 28px;
$heading5: 20px;
$title: 18px;
$body: 16px;
$caption: 14px;
$caption2: 12px;
$mini: 10px;


//border
$border-radius:10px;