<div class="loading" *ngIf="loading ; else showList">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>

<ng-template #showList>
    <div id="image" class="container-fluid">
        <div class="container  ">
            <app-top-bar></app-top-bar>
            <div class="centered-element py-5">
                <div class="row">
                    <div class="col-2 .d-sm-none .d-md-none .d-lg-block"></div>
                    <div class="col-sm-12 col-xl-4 col-xxl-4  ">
                        <h2 class="h1-color">
                            Search Properties in Oman
                        </h2>
                        <!-- <p class="h1-color">Are You On The Hunt For A Sales Or Letting Agent In Your Local Area?</p> -->
                        <div class="row gx-3 pt-4">
                            <div class="col-auto" *ngFor="let listbtn of listingpupose">
                                <button mat-flat-button class="list-btn" [value]="listingPurposeType"
                                    [ngClass]="{'btn-btn-danger':listbtn.listingPurposeType==listingPurposeType, 'transparent':listbtn.listingPurposeType!=listingPurposeType}"
                                    (click)="onclick(listbtn.listingPurposeType)">{{listbtn.desc }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3  .d-sm-none .d-md-none .d-lg-block"></div>
                    <div class="col-2 .d-sm-none .d-md-none .d-lg-block"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 d-sm-none d-md-none .d-lg-none d-xl-block"></div>
                    <div class=" col-sm-12 col-md-12 col-xl-8">
                        <div class="row gx-2 pt-3">
                            <div class=" col-sm-12 col-md-3 col-lg-4 pt-2">
                                <div class="card border-0">
                                    <div class="card-body mb-1">
                                        <h5 class="card-title">Governorate</h5>
                                        <div class="dropdown home" *ngIf="governorate[0]">
                                            <mat-form-field appearance="outline">
                                                <mat-select [value]="governorateid || 1">
                                                    <mat-option [value]="1" (click)="allcheck()">All</mat-option>
                                                    <mat-option *ngFor="let doc of governorate" [value]="doc.id!"
                                                        (click)="onclicks(doc.id!)">
                                                        {{doc.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 col-md-9 col-lg-8 pt-2 b-left">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <h5 class="card-title">Location</h5>
                                        <div class="row gx-2">
                                            <div class="col-9">
                                                <mat-form-field appearance="outline">
                                                    <input matInput type="text" [disabled]="true"
                                                        placeholder="Wilayat Area City Etc.">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-3 pt-2">
                                                <button mat-flat-button color="primary" type="button"
                                                    class=" px-2 find-btn" height="100px" width="156px"
                                                    (click)="find()">FIND</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 .d-sm-none .d-md-none .d-lg-block"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="container section">
        <div id="homesection">
            <div class="pt-5 ps-4">
                <h5 class="text-color">
                    Get bird’s-eye-view of your next home with Floor Plan
                </h5>
                <p class="pt-2 text-color">Easily visualise the layout of properties</p>
            </div>
            <div class="pt-2 ps-4 pb-5">
                <button mat-stroked-button color="accent" class="mat-border" [routerLink]="'propertydetails'">View now <mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
           
        </div>
        <div class="pt-5">
            <h1 class="inline">Our Quality Standards Never Disappoint</h1>
            <p class="inline explore float-end"><a [routerLink]="'propertydetails'" class="under"><b>Explore All</b></a>
            </p>
        </div>

        <div class="row mt-4" *ngIf="ownerPropertyFilter">
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3" *ngFor="let property of ownerPropertyFilter| paginate
            :{
                  itemsPerPage: perpagenumber,
                  currentPage: page,
                  totalItems: filterCount
            }
            ">
                <app-shortdisplay [property]="property"></app-shortdisplay>
            </div>
            <div class=" d-flex align-items-center justify-content-center" style="height: 350px;"
                *ngIf="ownerPropertyFilter.length == 0">
                <p class="">No Property Listed</p>
            </div>



        </div>
    </div>
</ng-template>