.content-padding {
  padding-top: 15px;
  color: white;

}

.about-section {
  padding-block: 4rem;
  color: black;
  background-color: white;
  font-size: 16px;
  text-align: left;
}

.section {
  padding-block: 4rem;
  color: black;
  font-size: 16px;
  text-align: left;
}

.about-heading {
  color: blue;
  text-align: left;
  font-size: 16px;
}

#image {
  background-image: url('https://d2og5lryw1ajtt.cloudfront.net/img/homeimg.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-size: cover;
 
}

.h1-color {
  color: white;
}

.btn-p {
  border: white !important;
  color: white;
  background: transparent;
}

.btn-r {
  color: black;
  background: white;
  border: none !important
}

.btn1 {
  background: transparent;
  color: white;
}

.nav-btn {
  background-color: white;
  border: none;

}
.vl{
  width: fit-content; 
}
.inline {
  display: inline;
}
.vl {
  border-left: 4px solid red;
  border-right: 5px solid red;
  height: 20px;
}

.under {
  color: black;
  text-decoration: underline;

  text-decoration-color: red;
}