.content-padding {
  padding-top: 15px;
  color: white;

}

.about-section {
  padding-block: 4rem;
  color: black;
  background-color: white;
  font-size: 16px;
  text-align: left;
}

.section {
  padding-block: 4rem;
  color: black;
  font-size: 16px;
  text-align: left;
}

.about-heading {
  color: blue;
  text-align: left;
  font-size: 16px;
}

#image {
  background-image: url('https://d2og5lryw1ajtt.cloudfront.net/img/homeimg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 80vh;



}
.container{
  // position: relative;
}
.centered-element {

}

.vertical-center{
  margin: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.active {
  color: green;
}

.inactive {
  color: red;
}

.h1-color {
  color: white;
}

.btn-p {
  border: white !important;
  // color: white;
  // background: transparent;
}

.btn-light {
  border-radius: 0;
}

.btn-r {
  color: black;
  background: white;
  border: none !important
}

.btn1 {
  // background: transparent;
  // color: white;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
}

.nav-btn {
  background-color: white;
  border: none;

}

.vl {
  width: fit-content;
}

.inline {
  display: inline;
}

.vl {
  border-left: 4px solid red;
  border-right: 5px solid red;
  height: 20px;
}

.under {
  color: black;
  text-decoration: underline;

  text-decoration-color: red;
}

.border-0 {
  border: 0px;
  border-radius: 6px;
}

.pdinng {
  padding: 0.4em 0 0.8em 0;
  display: block;
  margin: 0;
  flex: auto;
  min-width: 0;
  width: 100%;

}

.btn-btn-danger {
  background-color: #FFFFFF !important;
  
}

.transparent {
  background-color: transparent !important;
  border: 0.8px solid #FFFFFF !important;
  border-radius: 5px !important;
  color: #FFFFFF;
}