<app-top-bar [logred]="color" [data]="logocolor" [btncolor]="btnColor" [activeroute]="activeroutes"></app-top-bar>
<hr>
<div class="loading" *ngIf="loading ; else showList">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<ng-template #showList>
    <div class="container" *ngIf="propertyDetail">
        <div class="row p-0 pt-4">

            <div class="col-md-4 float-start ">
                <ul class="breadcrumb" *ngIf="propertyDetail[0]">
                    <li><a routerLink="/Unitscategory"
                            [queryParams]="{'propertyMasterID':pmid,'listingPurposeID':listpurID,'unitCategoryID':unitcatID,'status':statuss,'page': page, 'perpagenumber': perpagenumber,'landLordID':landlordid}"
                            (click)="addItem(propertyDetail[0].listingPurposeID!)"><i class="fa fa-angle-left pe-2"
                                aria-hidden="true"></i>Back to Search</a></li>
                </ul>
            </div>
            <div class="col-md-8" *ngIf="propertyDetail[0]">
                <ul class="breadcrumb ">
                    <li><a routerLink="">Mumtalikati</a></li>
                    <li *ngIf="propertyDetail[0]">
                        <a href="#"
                            routerLink="../propertydetails">{{getenum(propertyDetail[0].propertyMasterTypeID!)}}</a>
                    </li>
                    <li *ngIf="propertyDetail[0]"><a href="#">{{propertyDetail[0].propertySubTypeName}}</a></li>
                    
                </ul>
            </div>
        

        </div>
  

        <div *ngFor="let property of propertyDetail">
            <div class="row pt-4 ">
                <div class="col-md-4">
                    <div>
                        <h2 class="h2color">
                            For {{getlist(listpurID)}}
                        </h2>
                    </div>
                    <div class="group">
                        <h4>
                            {{property.propertyMasterName}}
                        </h4>
                    </div>
                    <div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="header">Type</th>
                                    <td class="propertyb">{{property.propertySubTypeName}}</td>

                                </tr>
                        
                          
                                <tr>
                                    <th class="header">Plot Number</th>
                                    <td class="propertyb">{{property.plotNumber}}</td>

                                </tr>
                                <ng-container *ngIf="caption==0; else showCaption">
                                </ng-container>
                                <ng-template #showCaption>
                                    <tr>
                                        <th class="header">Caption</th>
                                        <td class="propertyb">{{caption}}</td>
                                    </tr>
                                </ng-template>

                                

                                <ng-container *ngIf="PropertySubTypeID == 1 || PropertySubTypeID == 9; else noOfFloor">
                                    <tr *ngIf="property.unitCategoryID == 12 else nofloor">
                                        <th class="header">No of Floor(s)</th>
                                        <td class="propertyb">{{property.numberofFloors}}</td>
                                    </tr>
                                    <ng-template #nofloor>
                                        <tr>
                                            <th class="header">Floor #</th>
                                            <td class="propertyb">{{property.floorNumber}}</td>
                                        </tr>
                                    </ng-template>
                                </ng-container>
                                <ng-template #noOfFloor *ngIf="property.numberofFloors == null ">
                                    <tr>
                                        <th class="header">No of Floor(s)</th>
                                        <td class="propertyb">{{property.numberofFloors}}</td>
                                    </tr>
                                </ng-template>
                                <tr>
                                    <th class="header">Status</th>
                                    <td class="propertyb">{{getstatus(statuss)}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="main">
                        <p><img class="pe-2 addess h2color" [src]=" location">{{property.addressStr}}</p>

                    </div>
                    <div class=" d-flex gap-3 py-3" aria-current="true">
                        <div *ngIf="imageUser">
                            <img [src]="imageUser.imageString || defaultperfile" alt="" width="50px" height="50px"
                                class="rounded-circle">

                        </div>

                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0"><b>Landlord</b></h6>
                                <p class="mb-0 opacity-75">{{property.name}}</p>
                            </div>

                        </div>
                    </div>
                    <div class="row gx-2 gy-2">
                        <div class="col">
                            <button mat-stroked-button color="primary" class=" px-5 border-r btn-width "
                                (click)="oncallclick(call)">Call</button>
                        </div>
                        <div class="col">
                            <button mat-raised-button color="primary" class="px-5 btn-width"
                            (click)="redirectToWhatsApp(property.contact)">Message</button>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 pb-4" *ngIf="property.imageString">
                    <div class="card border-0 shadow-none">
                        <div id="main-slider" class="splide">
                            <div class="splide__track">
                                <div class="splide__list">
                                    <div class="splide__slide" *ngFor="let image of property.imageString">
                                        <img class="full-image" [src]="image" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="thumbnail-slider" class="splide">
                            <div class="splide__track">
                                <div class="splide__list">
                                    <div class="splide__slide" *ngFor="let image of property.imageString">
                                        <img [src]="image" alt="Thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="card-body p-0 pt-4">
                            <mat-card-content>
                                <h5 *ngIf="listpurID ==1   ; else nolistpurposeid">
                                    OMR {{property.rentPrice}}/mon
                                </h5>
                                <ng-template #nolistpurposeid>
                                    <h5>
                                        OMR {{property.sellPrice}}/Sale price
                                    </h5>
                                </ng-template>
    
                                <div class="dis-flex" clas="pe-4">
                                    <p class="icon pe-2"><img class="pe-2" [src]="areaimg">{{property.sqft}}SQM</p>
                           
                                </div>
                                <h5>
                                    Property Details
                                </h5>
                                <p>
                                    {{property.propertyMasterDescription}}
                                </p>
                                <h5 *ngIf="!propertyFeature.length==0">
                                    Features
                                </h5>
                                <div class="container">
                                    <div class="row gx-2 justify-content-md-center btn-row " *ngIf="propertyFeature">
                                        <div class="col-auto pt-2" *ngFor="let features of propertyFeature">
                                            <button mat-raised-button class="" [disabled]="true"
                                                id="view-cmp-btn">{{features.feature.desc}}</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #call>

        <div class="modal-header">
        </div>
        <div class="modal-body">
            <div>
                <h6 class="text-cente">
                    Contact Us
                </h6>

            </div>
            <div *ngFor="let property of propertyDetail">
                <h6 class="text-cente" #elementContentToCopy>
                    <img [src]="phoneicon"> +{{property.contact}} <img [src]="copyIcon" class="btn" height="30px"
                        (click)="copyHeroName(elementContentToCopy)">
                </h6>
            </div>
            <hr>
            <div *ngFor="let property of propertyDetail">
                <h6 class="text-cente"> {{property.name}}</h6>
            </div>
            <hr>
            <div *ngFor="let property of propertyDetail">
                <p class="align-item">
                    Please quote Building ID {{property.buildingNumber}}
                    when calling to landlord.
                </p>
            </div>
            <hr>
            <div>
                <p class="align-item">
                    Do you want more options? Finding the right property for you is easier with notifications
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row gx-2">
                <div class="col">
                    <button type="button" color="primary" class="border-done" (click)="closepop()">I want to be
                        notified</button>

                </div>
                <div class="col">
                    <button type="button" class="  border-btn" (click)="closepop()">Maybe Later</button>
                </div>
            </div>
        </div>
    </ng-template>

</ng-template>
