<div class="bg-dark white">
        <div class="container px-sm-2 px-md-0">
                <footer class="footer-section pb-2 white">
                        <div class="row">
                                <div class="col-lg-3" >
                                        <img id="logo" [src]="logo" routerLink="." onclick="window.scrollTo(0,0)"
                                                class="img-fluid shadow-2-strong go-to-signin " alt="" />

                                        <p class="mt-4 text-align">{{"MuscatOman"|transloco}} </p>
                                        <p class="text-align"> <img [src]="phoneimg" alt="" class="pe-1 ps-1"><span [dir]="direction">+968 99160109</span></p>
                                        <p class=" text-align"><img [src]="emailimag" alt=""> Support@mumtalikati.com</p>

                                </div>
                                <div class="col-6 col-lg-2 mb-3 ">
                                        <div class="text-align">
                                                <h5 class=""> {{"Company"|transloco}}</h5>
                                                <ul class="nav flex-column navbar-navs">
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"
                                                                [routerLinkActiveOptions]="{exact:true}"><a
                                                                        routerLink="." onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted changecolors">{{"Home"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"><a
                                                                        routerLink="propertydetails"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted changecolors">{{"PropertyListings"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"><a
                                                                        routerLink="aboutus"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted changecolors">{{"About-Us"|transloco}}
                                                                </a>
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"><a
                                                                        routerLink="contactus"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted changecolors">{{"Contact-Us"|transloco}}
                                                                </a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"Support24/7"|transloco}}</a>

                                                </ul>
                                        </div>

                                        <!-- <div class="row mt-5">
                                                <div class="">
                                                        <form>
                                                                <div class="align-items-start inline">
                                                                        <input type="text"
                                                                                class="form-control me-2 bg-dark input-box "
                                                                                placeholder="Email address">
                                                                        <button class="btn-primary p-2 text-nowrap">Subscribe
                                                                                Now</button>
                                                                </div>
                                                        </form>
                                                </div>
                                        </div> -->
                                </div>
                                
                                <div class="col-6 col-lg-2  mb-3">
                                        <div class="text-align">
                                                <h5>{{"UsefulLink"|transloco}}</h5>
                                                <ul class="nav flex-column ">
                                                        <li class="nav-item mb-2"><a routerLink="contactus"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">{{"HelpCenter"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">{{"Knowledgebase"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"OurAgent"|transloco}}</a>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"Sellers"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"Buyers"|transloco}}</a>

                                                </ul>
                                        </div>

                                </div>
                                <div class="col-6 col-lg-2 mb-3">
                                        <div class="text-align">
                                                <h5>{{"QuickLink"|transloco}}</h5>
                                                <ul class="nav flex-column navbar-navs">
                                                        <li class="nav-item mb-2"><a routerLink=""
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">{{"Blog"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">{{"Career"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"><a
                                                                        routerLink="faq" onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted changecolors">{{"FAQS"|transloco}}</a>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"Landlords"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"Compliance"|transloco}}</a>
                                                        </li>
                                                </ul>
                                        </div>

                                </div>
                                <div class=" col-6 col-lg-2  mb-3">
                                        <div class="text-align">
                                                <h5>{{"Navigation"|transloco}}</h5>
                                                <ul class="nav flex-column ">
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">{{"News"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">{{"Testimonials"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="propertydetails"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"Portofolio"|transloco}}</a>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"Research"|transloco}}</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">{{"Consultancy"|transloco}}</a>
                                                </ul>
                                        </div>

                                </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div>
                                                <img [src]="googleplay"
                                                        class="img-fluid shadow-2-strong btn p-0 app-play"
                                                        (click)="openappstore()" width="210px" alt="">
                                        </div>
                                        <div class="pt-2">
                                                <img [src]="appstore" class="img-fluid shadow-2-strong btn p-0 app-play"
                                                        (click)="opengoogleplay()" width="210px" alt="">
                                        </div>
                                </div>
                                <div class="col-lg-4 col-md-6 d-none d-lg-block"></div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                        <h5 class="center-text">{{"Subscribe"|transloco}}</h5>
                                        <form>
                                                <div class="row">
                                                        <div class="col-8">
                                                                <input type="text"
                                                                        class="form-control me-2 bg-dark input-box"
                                                                        placeholder="{{'Emailaddress'|transloco}}" />
                                                        </div>
                                                        <div class="col-4">
                                                                <button
                                                                        class="btn-primary p-2 text-nowrap">{{"SubscribeNow"|transloco}}</button>
                                                        </div>
                                                </div>

                                        </form>
                                </div>
                        </div>
                        <!-- <hr> -->
                        <div class="copywrite mt-4 p-0">
                                <p [dir]="direction">&copy;2023 mumtalikati.com {{"AllRightsReserved"|transloco}}.</p>
                        </div>

                </footer>
        </div>