<div class="bg-dark white" >
        <div class="container .px-sm-2 .px-md-0">
                <footer class="footer-section pb-2 white">
                        <div class="row">
                                <div class="col-lg-3">
                                        <img id="logo" [src]="logo" routerLink="." onclick="window.scrollTo(0,0)"
                                                class="img-fluid shadow-2-strong go-to-signin " alt="" />
                                        <p class="mt-4">Muscat, Oman</p>
                                        <p> <img [src]="phoneimg" alt=""> +968 99160109</p>
                                        <p><img [src]="emailimag" alt=""> Support@mumtalikati.com</p>
                                </div>
                                <div class="col-6 col-lg-2 offset-lg-1 mb-3 ">
                                        <div class="">
                                                <h5>Company</h5>
                                                <ul class="nav flex-column navbar-navs">
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"
                                                                [routerLinkActiveOptions]="{exact:true}"><a
                                                                        routerLink="." onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted changecolors">Home</a>
                                                        </li>
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"><a
                                                                        routerLink="propertydetails"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted changecolors">Property Listing</a>
                                                        </li>
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"><a
                                                                        routerLink="aboutus"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted changecolors">About
                                                                        us</a>
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']"><a
                                                                        routerLink="contactus"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted changecolors">Contact
                                                                        us</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Support 24/7</a>

                                                </ul>
                                        </div>

                                        <!-- <div class="row mt-5">
                                                <div class="">
                                                        <form>
                                                                <div class="align-items-start inline">
                                                                        <input type="text"
                                                                                class="form-control me-2 bg-dark input-box "
                                                                                placeholder="Email address">
                                                                        <button class="btn-primary p-2 text-nowrap">Subscribe
                                                                                Now</button>
                                                                </div>
                                                        </form>
                                                </div>
                                        </div> -->
                                </div>
                                <div class="col-6 col-lg-2  mb-3">
                                        <div class="">
                                                <h5>Useful Link</h5>
                                                <ul class="nav flex-column ">
                                                        <li class="nav-item mb-2"><a routerLink="contactus"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">Help Center</a></li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">Knowledgebase</a></li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Our Agent</a>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Sellers</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Buyers</a>

                                                </ul>
                                        </div>

                                </div>
                                <div class="col-6 col-lg-2 mb-3">
                                        <div class="">
                                                <h5>Quick Link</h5>
                                                <ul class="nav flex-column navbar-navs">
                                                        <li class="nav-item mb-2"><a routerLink=""
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">Blog</a></li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">Career</a></li>
                                                        <li class="nav-item mb-2" [routerLinkActive]="['active']" ><a routerLink="faq"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted changecolors">FAQ</a>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Landlords</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Compliance</a>
                                                        </li>
                                                </ul>
                                        </div>

                                </div>
                                <div class=" col-6 col-lg-2  mb-3">
                                        <div class="">
                                                <h5>Navigation</h5>
                                                <ul class="nav flex-column ">
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">News</a></li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class="p-0 text-muted">Testimonials</a></li>
                                                        <li class="nav-item mb-2"><a routerLink="propertydetails"
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Portofolio</a>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Research</a>
                                                        </li>
                                                        <li class="nav-item mb-2"><a routerLink="."
                                                                        onclick="window.scrollTo(0,0)"
                                                                        class=" p-0 text-muted">Consultancy</a>
                                                </ul>
                                        </div>

                                </div>
                        </div>
                        <div class="row">
                                <div class=" col col-md-4 d-none d-lg-block">

                                </div>
                                <div class="col"></div>
                                <div class="col-md-4 mt-2">
                                        <h5>Subscribe</h5>
                                        <form>
                                                <div class="align-items-start inline">
                                                        <input type="text" class="form-control me-2 bg-dark input-box "
                                                                placeholder="Email address">
                                                        <button class="btn-primary p-2 text-nowrap">Subscribe
                                                                Now</button>
                                                </div>
                                        </form>
                                </div>
                        </div>
                        <!-- <hr> -->
                        <div class="copywrite mt-4 p-0">
                                <p>&copy;2023 mumtalikati.com All Rights Reserved.</p>
                        </div>

                </footer>
        </div>