.footer-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: black;
    font-size: 14px;
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: white !important
}

.copywrite {
    text-align: center;
}

#logo {
    display: inline-block;
    margin-top: 1px;
}

#logo img {
    max-height: 40px;
    width: auto;
    transform: translate3d(0, 0, 0);
}

img.footer-logo {
    max-height: 43px;
    width: auto;
    transform: translate3d(0, 0, 0);
}
.img-fluid {
    max-width: 50%;
    height: auto;
}
.inline{
    display: flex;
}
.white{
    color: white;
}
.input-box{
    
    color: #ffff;
}
.text-muted{
    font-weight: 600;
    font-size: medium;
}
.navbar-navs>.active>.changecolors {
    color: #ffff !important;
    background-color: none;
   
}

// @media only screen and (max-width: 	1140px) {
//     .imageh {
//       width: 100%;
//     }
//   }
@media only screen and (max-width: 540px) {
    .app-play {
      width: 50%;
    }
  }
  @media only screen and (min-width: 992px) {
    .app-play {
      width: 50%;
    }
  }
  @media only screen and (min-width: 540px) {
    .app-play {
      width: 40%;
    }
  }